---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/headercomps/Nav.svelte';
import Header from '../components/headercomps/Header.svelte'
---

<Layout title="Welcome to Astro.">
	<main>
		<Nav />
		<Header />
	</main>
</Layout>

<style>

</style>