---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props as Props;
---

<li class="link-card">
	<h2 class='text-red-600'>Hey</h2>
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>

</style>